<app-header-work></app-header-work>
<section>
  <div class="container" id="login-box">
    <div class="container justify-content">
      <div class="alert-success" style="text-align: center;">
        <p><b>{{createmsg}}</b></p>
      </div>
      <div class="alert-success" style="text-align: center;">
        <p><b>{{errormsg}}</b></p>
      </div>
      <form #f="ngForm">
        <table class="container">
          <thead>
          <td colspan="3" style="text-align: center;">
            <h2><i>Mở tài khoản khách hàng!!</i></h2>
          </td>
          <td>
          </td>
          <td></td>
          </thead>
          <tr>
          </tr>
          <tr>
            <th>ID Khách hàng: </th>

            <td>
              <input type="text" name="customerId" autocomplete="off" required="required" [value]="id"
                     class="form-control" readonly>
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>Số dư khởi điểm:</th>

            <td>
              <input type="text" name="Amount" placeholder="Số dư" autocomplete="off" required="required" ngModel
                     #Amount="ngModel" class="form-control" />
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>Loại tài khoản:</th>

            <td>
              <select type="text" path="accountType" placeholder="Loại tài khoản" name="accountType"
                      [ngModel]="accountType" #accountType="ngModel" autocomplete="off">
                <option>Tiết kiệm</option>
                <option>Chi tiêu</option>
              </select>
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>Ngày mở tài khoản:</th>

            <td>
              <input type="date" id="date" path="dateOfBirth" name="dob" placeholder="Date of Birth" ngModel
                     #dob="ngModel" required="required" class="form-control" />
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>Chủ sở hữu: </th>

            <td>
              <input type="text" path="owername" name="ownername" placeholder="Tên chủ sở hữu" autocomplete="off" ngModel
                     #owername="ngModel" maxlength="100000" required="required" class="form-control" />
            </td>
            <td>
            </td>
            <td></td>
          </tr>
          <tr style="text-align: center;">
            <th><input type="submit" name="signup_submit" class="btn btn-success" value="Tạo"
                       (click)="createAccount(f)" style=" margin-left:180px;" /></th>
            <td>
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>
  </div>

</section>