<app-header-work></app-header-work>
<section style="background-color: rgb(226, 226, 224);">

  <br>
  <marquee direction = "right" loop="" scrollamount="12"><h2 style="text-align:center" >🫡 Chào mừng quay trở lại hệ thống 🤗</h2></marquee>
  <div class="container-ls row" >
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div style="margin: 5em 10em 2em 3em;">
        <div class="card bg-dark text-white" style="width:350px; height: 420px;">
          <img alt="" src="../../assets/images/createCustomer.jpg" style="height:200px">
          <div class="card-body">
           <h4 class="card-title" style="text-align: center;">Thêm khách hàng mới</h4>
            <hr width="100%" size="8" color="white">
            <p class="card-text">Bấm vào nút dưới để thêm và sửa thông tin khách hàng  👇</p>
            <div style="text-align: right;">
              <br> <a routerLink="/createCustomer" class="btn btn-primary">Thêm hoặc cập nhật</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
      <div style="margin: 5em 10em 2em 3em;">
        <div class="card bg-dark text-white" style="width:350px; height: 420px;">
          <img alt="" src="../../assets/images/createaccount.jpeg" style="height:200px">
          <div class="card-body">
            <h4 class="card-title">Tạo tài khoản</h4>
            <hr width="100%" size="8" color="white">
            <form>
              ID Khách hàng : <input type="text" name="id" placeholder="Nhập ID khách hàng" autocomplete="off" ngModel
                #id="ngModel" style="margin: 8px;" required />
              <br>
              <br>
              <div style="text-align: right;">
                <input type="submit" name="View" value="Tạo tài khoản" class="btn btn-primary"
                  (click)="createAccount(id)" [disabled]="id.invalid" />
              </div>
            </form>
            <p class="message">{{Accounterror}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div style="margin: 5em 10em 2em 3em;">
        <div class="card bg-dark text-white" style="width:350px; height: 420px;">
          <img alt="" src="../../assets/images/deletecust.png" style="height:200px">
          <div class="card-body">
            <h4 class="card-title">Xóa khách hàng</h4>
            <hr width="100%" size="8" color="white">
            <form>
              ID Khách hàng : <input type="text" name="customerId" id="customerId" placeholder="Nhập ID khách hàng"
                autocomplete="off" ngModel #customerId="ngModel" style="margin: 9px;" required min="10" />
              <br>
              <br>
              <div style="text-align: right;">
                <input type="submit" name="Delete" value="Xóa khách hàng" class="btn btn-primary" (click)="onDelete(customerId)"
                  [disabled]="customerId.invalid" />
              </div>
            </form>
            <p class="message">{{deletemsg}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-ls row" >
    <div class="col-xs-12 col-sm-6 col-md-4" >
      <div style="margin: 4em 10em 14em 3em;">
        <div class="card bg-dark text-white" style="width:350px;  height: 420px;">
          <img alt="" src="../../assets/images/getAllCustomers.png" style="height:200px">
          <div class="card-body">
            <h4 class="card-title">Xem thông tin khách hàng</h4>
            <hr width="100%" size="8" color="white">
            <form action="/viewCustomer" method="get">
              ID Khách hàng : <input type="text" name="userId" id="userId" placeholder="Nhập ID khách hàng" autocomplete="off"
                ngModel #userId="ngModel" required style="margin: 9px;" />
              <br> <br>
              <div style="text-align: right;">
                <input type="submit" name="View" value="Xem thông tin" (click)="onDisplay(userId)"
                  class="btn btn-primary" [disabled]="userId.invalid" />
              </div>
            </form>
          </div>
          <div style="text-align: left;">
            <p class="message">{{viewCustomer}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div style="margin: 4em 0em 0em 3em;">
        <div class="card bg-dark text-white" style="width:350px; height: 420px;">
          <img alt="" src="../../assets/images/desposit.jpg" style="height:200px">
          <div class="card-body">
          <h4 class="card-title"> Nạp số dư tài khoản</h4>
          <hr width="100%" size="8" color="white">
          <form #f="ngForm">
            <label>ID Tài khoản : </label>
            <input type="number" name="accountId" placeholder="Nhập ID tài khoản" autocomplete="off" required ngModel
              #accountId="ngModel" />
            <!-- <br> -->
            <label>Số dư (vnđ ) : </label>
            <input type="number" name="amount" placeholder="Nhập số dư" autocomplete="off" required ngModel
              #amount="ngModel" />
            <br> <br>
            <div style="text-align: right;">
              <input type="submit" name="View" value="Nạp số dư" class="btn btn-primary" (click)="onDeposit(f)"
                style="margin-right: 10px; margin-top: -25px;" [disabled]="accountId.invalid && amount.invalid" />
            </div>
          </form>
        </div>
          <p class="message">{{depositmsg}}</p>
          <br>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div style="margin: 4em 10em 14em 3em;">
        <div class="card bg-dark text-white" style="width:350px; height: 420px;">
          <img alt="" src="../../assets/images/minBalance.png" style="height:200px">
          <div class="card-body">
            <h4 class="card-title">Thu phí dịch vụ</h4>
            <hr width="100%" size="8" color="white">
            <p class="card-text">Bạn cần duy trì số dư tối thiểu hoặc phí dịch vụ sẽ được áp dụng lên tài khoản dưới mức tối thiểu </p>
            <form action="/deductServiceTax" method="post">
              <br>
              <div style="text-align: right;">
                <input type="submit" name="View" value="Deduct" class="btn btn-primary" (click)="onServiceCharge()" />
              </div>
            </form>
            <p class="message">{{servicemsg}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
