<app-header-work></app-header-work>
<section>
    <br>
    <h2 class="text-center">Chi tiết khách hàng</h2>
    <br>
    <div class="container" >
        <table class="table table-bordered" cellpadding="5">
            
            <tr>
                <th>ID Khách hàng</th>
                <th>Tên Khách hàng </th>
                <th>Ngày sinh</th>
                <th>PAN</th>
                <th>Địa chỉ</th>
                <th>Tài khoản</th>
            </tr>
            <tr>
                <td>{{custDetails.userid}}</td>
                <td>{{custDetails.username}}</td>
                <td>{{custDetails.dateOfBirth}}</td>
                <td>{{custDetails.pan}}</td>
                <td>{{custDetails.address}}</td>
                <td>
                    <table cellpadding="5">
                        
                        <tr>
                            <th>ID TÀI KHOẢN</th>
                            <th>SỐ DƯ HIỆN TẠI</th>
                            <th>LOẠI TÀI KHOẢN</th>
                            <th>CHỦ SỞ HỮU</th>
                        </tr>
                        <tr *ngFor="let account of custDetails.accounts">
                            <td>{{account.accountId}}</td>
                            <td>{{account.currentBalance}}</td>
                            <td>{{account.accountType}}</td>
                            <td>{{account.ownerName}}</td> 
                        </tr>
                    </table>
                </td>
                
        </tr>
    </table>
    <br>
    <div style="text-align: center;">
        <button class="active btn btn-warning" routerLink="/employeedashboard">Back</button>
    </div>
    </div>
</section>